@use "../../../styles/themes.scss" as themes;

.container {
  display: flex;
  justify-content: center;
  border-top: 1px solid themes.$alto;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
