@use "../../../../styles/themes.scss" as themes;
@use "../../../../styles/button.scss" as button;

.button {
  @include button.button;
  width: 210px;
  padding: 10px;

  &__active {
    border: 4px solid themes.$shaft;
    font-weight: 500;
    color: themes.$shaft;
    background-color: themes.$alabaster;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px auto;
  gap: 100px;

  @include themes.extraLarge {
    gap: 40px;
  }

  @include themes.large {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  @include themes.small {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
