@use "./themes.scss" as themes;
@use "./link.scss" as link;

@mixin dropdown {
  @include link.link;
  color: themes.$white;

  &::before {
    content: "‹";
    border: none;
    transform: rotate(270deg);
    font-size: 35px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 15px;
    padding: 0 15px;
    cursor: pointer;
  }
}
