@use "./themes.scss" as themes;

@mixin main {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}
