@use "../../../styles/themes.scss" as themes;
@use "../../../styles/heading.scss" as heading;
@use "../../../styles/button.scss" as button;
@use "../../../styles/container.scss" as container;

.section {
  @include container.about;
}

.heading {
  @include heading.heading;
  margin-top: 0;
  margin-bottom: 20px;

  @include themes.large {
    margin-top: 50px;
  }
}

.container {
  @include container.border;
}

.subheading {
  font-size: 20px;
}

.link {
  text-decoration: none;
}

.button {
  @include button.button;
  padding: 5px 15px;
}

.border {
  margin-top: 60px;
}
